<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="How Seven is a husband-and-wife team focused on delivering quality apps with unprecedented polish. That moment when you realize 'Oh man. They really put a lot of thought into everything about this.'? Yeah, that’s kind of what we’re going for." name="description">
    <% # Use the title from a page's frontmatter if it has one %>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "fontawesome-all.min" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
