<!doctype html>
<html>
  <head>
    <%= google_analytics_tag %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="How Seven is a husband-and-wife team focused on delivering quality apps with unprecedented polish. That moment when you realize 'Oh man. They really put a lot of thought into everything about this.'? Yeah, that’s kind of what we’re going for." name="description">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title><%= current_page.data.title || "How Seven!" %></title>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "site" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf-EIgUAAAAACtqE96q1QSsHT0B72S4NLAQi7_g"></script>
    <%= javascript_include_tag "fontawesome-all.min" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="<%= current_page.data.slug %>">
    <header>
      <nav>
        <% link_to '/', :class => 'logo' do %>
          <%= image_tag 'how-seven-pink.svg', :class => 'logo-header', :alt => 'How Seven!' %>
        <% end %>
        <ul>
          <li><%= link_to 'About', '/#about' %></li>
          <li><%= link_to 'Games', '/#games' %></li>
          <li><%= link_to 'Contact', '/#contact' %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>Copyright &copy; 2011–<%= Time.now.year %> How Seven, LLC. All rights reserved. <%= link_to 'Terms & Conditions & Privacy Policy', 'terms.html' %> | <%= link_to 'Press', 'https://press.howseven.com' %></footer>
  </body>
</html>
