---
title: How Seven!
---
<header>
	<nav>
		<%= link_to 'How Seven', '/', :class => 'logo' %>
		<%= link_to 'About', '#about' %>
		<%= link_to 'Games', '#games' %>
		<%= link_to 'Contact', '#contact' %>
	</nav>
</header>
<section class="main-hero">
	<h1><%= image_tag 'how-seven.svg', :class => 'logo-hero' %></h1>
	<h2>Nullam quis risus eget urna mollis ornare vel eu leo.</h2>
</section>

<%= link_to(
  "link",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
