---
title: How Seven!
slug: home
---

<section class="main-hero">
  <a name="about"></a>
  <h1><%= image_tag 'how-seven.svg', :class => 'logo-hero' %></h1>
  <h2>Built for us. Made for everyone.</h2>
</section>

<section class="text-block container">
  <p>How Seven is a husband-and-wife team focused on delivering quality apps with unprecedented polish. That moment when you realize "Wow, they really put a lot of thought into everything about this"? Yeah, that's kind of what <span class="nobr">we're going for.</span></p>
</section>

<hr>

<section class="game-area container">
  <a name="games"></a>

  <div>
    <h2>Kiki's Koi-Koi</h2>
    <p>Koi-Koi is a simple two-player card game played with the colorful Japanese cards known as Hanafuda.</p>
    <% link_to data.site.kikiAppStoreUrl, target: :_blank, rel: :noreferrer, :class => 'app-store-link' do %>
      <%= image_tag 'appstore.svg', :alt => 'App Store' %>
    <% end %>
  </div>
  <span><%= image_tag 'kiki-banner@2x.jpg', :alt => 'Kiki\'s Koi-Koi' %></span>
</section>

<section class="game-area container">
  <div>
    <h2>The Bingo Spot</h2>
    <p>Play all the Bingo you want without any of the hassle.</p>
    <% link_to data.site.bingoAppStoreUrl, target: :_blank, rel: :noreferrer, :class => 'app-store-link' do %>
      <%= image_tag 'appstore.svg', :alt => 'App Store' %>
    <% end %>
  </div>
  <span><%= image_tag 'bingo-banner@2x.jpg', :alt => 'The Bingo Spot' %></span>
</section>

<section class="game-area container">
  <div>
    <h2>Carte Blanche</h2>
    <p>Five classic card games presented by <nobr>one classy raven.</nobr></p>
    <div class="game-links">
    <% link_to "https://play.date/games/carte-blanche/", target: :_blank, rel: :noreferrer, :class => 'app-store-link' do %>
      <%= image_tag 'catalog-dev-link-badge-buy.png', :alt => 'Playdate Catalog' %>
    <% end %>
    <% link_to "https://howseven.itch.io/carte-blanche", target: :_blank, rel: :noreferrer, :class =>'itch-link' do %>
      Buy on Itch ↗︎
    <% end %>
    <% link_to "https://carteblanche.cards", target: :_blank, rel: :noreferrer, :class =>'site-link' do %>
      Official Site ↗︎
    <% end %>
    </div>
  </div>
  <span><%= image_tag 'blanche-banner@2x.png', :alt => 'Carte Blanche' %></span>
</section>

<section class="game-hero">
  <div class="container">
    <span><%= image_tag 'kiki-phone.png', :alt => 'Kiki\'s Koi-Koi' %></span>
    <div>
      <h2>Kiki's Koi-Koi</h2>
      <h3>Hanafuda on iOS</h3>
      <% link_to data.site.kikiAppStoreUrl, target: :_blank, :class => 'app-store-link' do %>
        <%= image_tag 'appstore.svg', :alt => 'App Store' %>
      <% end %>
    </div>
  </div>
</section>

<section class="container home-form">
  <h1><a name="contact">Get in touch</a></h1>
  <form data-behavior="contact-form">
    <input type="hidden" name="ticket[source]" value="how_seven_site" />

    <fieldset>
      <label for="ticket_inquiry_type">
        What is this about?
        <span class="custom-dropdown custom-dropdown--white">
          <select id="ticket_inquiry_type" name="ticket[inquiry_type]" class="custom-dropdown__select custom-dropdown__select--white">
            <option value="general">General Inquiry</option>
            <option value="bug">Bug Report</option>
          </select>
        </span>
      </label>
    </fieldset>

    <fieldset>
      <label for="ticket_app">
        Which product?
        <span class="custom-dropdown custom-dropdown--white">
          <select id="ticket_app" name="ticket[app]" class="custom-dropdown__select custom-dropdown__select--white">
            <option value="">No app in particular</option>
            <option value="kiki">Kiki's Koi-Koi</option>
            <option value="bingo">The Bingo Spot</option>
            <option value="blanche">Carte Blanche</option>
          </select>
        </span>
      </label>
    </fieldset>

    <fieldset>
      <label for="ticket_name">Your Name</label>
      <input id="ticket_name" name="ticket[name]" type="text" required />
    </fieldset>

    <fieldset>
      <label for="ticket_email">Your Email <span class="explanation">(so we can respond)</span></label>
      <input id="ticket_email" name="ticket[email]" type="email" required />
    </fieldset>

    <fieldset>
      <label for="ticket_subject">Subject</label>
      <input id="ticket_subject" name="ticket[subject]" type="text" />
    </fieldset>

    <fieldset>
      <label for="ticket_message">Message</label>
      <textarea id="ticket_message" name="ticket[message]" required></textarea>
    </fieldset>

    <p class="fine-details">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>

    <input id="contact-submit-button" type="submit" value="Submit" />
  </form>
  <div class="form-success">
    <!-- <h1> -->
    <!--   Thanks! -->
    <!-- </h1> -->
    <div class="message">
      <!-- <svg width="48px" height="34px" viewBox="0 0 48 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->
      <!--   <g id="Page&#45;1" stroke="none" stroke&#45;width="1" fill="none" fill&#45;rule="evenodd"> -->
      <!--     <g id="Artboard" transform="translate(&#45;252.000000, &#45;170.000000)"> -->
      <!--       <circle id="Oval" fill="#DC195D" cx="260.916016" cy="173.916016" r="3.91601562"></circle> -->
      <!--       <circle id="Oval" fill="#DC195D" cx="290.916016" cy="173.916016" r="3.91601562"></circle> -->
      <!--       <path d="M256,192 C270.150174,202.666667 283.483508,202.666667 296,192" id="Path" stroke="#DC195D" stroke&#45;width="7" stroke&#45;linecap="round"></path> -->
      <!--     </g> -->
      <!--   </g> -->
      <!-- </svg> -->
      <p>
      Please email us: support at howseven.com<br />for any questions, comments, or issues. Thanks!
      </p>
    </div>
  </div>
</section>
