---
title: How Seven!
---

<section class="main-hero">
	<h1><%= image_tag 'how-seven.svg', :class => 'logo-hero' %></h1>
	<h2>Nullam quis risus eget urna mollis ornare vel eu leo.</h2>
</section>

<section class="text-block container">
	<p>How Seven is a husband-and-wife team focused on delivering quality apps with unprecedented polish. That moment when you realize "Oh man. They really put a lot of thought into everything about this."? Yeah, that's kind of what <span class="nobr">we're going for.</span></p>
</section>

<hr>

<section class="game-area container">
	<div>
		<h2>Kiki's Koi-Koi</h2>
		<p>Koi-Koi is a simple two-player card game played with the colourful Japanese cards known as Hanafuda.</p>
		<% link_to 'https://itunes.apple.com/us/app/kikis-koi-koi/id440630538', :class => 'app-store-link' do %>
			<%= image_tag 'appstore.svg', :alt => 'App Store' %>
		<% end %>
	</div>
	<span><%= image_tag 'kiki-banner@2x.jpg', :alt => 'Kiki\'s Koi-Koi' %></span>
</section>

<section class="game-hero">
	<div class="container">
		<span><%= image_tag 'kiki-phone.png', :alt => 'Kiki\'s Koi-Koi' %></span>
		<div>
			<h2>Kiki's Koi-Koi</h2>
			<h3>Hanafuda on iOS</h3>		
			<% link_to 'https://itunes.apple.com/us/app/kikis-koi-koi/id440630538', :class => 'app-store-link' do %>
				<%= image_tag 'appstore.svg', :alt => 'App Store' %>
			<% end %>
		</div>
	</div>
</section>

<form>
	<label>What is this about?</label>
	<select>
		<option></option>
	</select>
	<label>Which App?</label>
	<input type="text">
	<label>Your Name</label>
	<input type="text">
	<label></label>
	<input type="text">
	<label></label>
	<textarea></textarea>
</form>