---
title: How Seven!
slug: home
---

<section class="main-hero">
  <a name="about"></a>
  <h1><%= image_tag 'how-seven.svg', :class => 'logo-hero' %></h1>
  <h2>Built for us. Made for everyone.</h2>
</section>

<section class="text-block container">
  <p>How Seven is a husband-and-wife team focused on delivering quality apps with unprecedented polish. That moment when you realize "Oh man. They really put a lot of thought into everything about this."? Yeah, that's kind of what <span class="nobr">we're going for.</span></p>
</section>

<hr>

<section class="game-area container">
  <a name="games"></a>
  <div>
    <h2>Kiki's Koi-Koi</h2>
    <p>Koi-Koi is a simple two-player card game played with the colourful Japanese cards known as Hanafuda.</p>
    <% link_to data.site.kikiAppStoreUrl, target: :_blank, :class => 'app-store-link' do %>
      <%= image_tag 'appstore.svg', :alt => 'App Store' %>
    <% end %>
  </div>
  <span><%= image_tag 'kiki-banner@2x.jpg', :alt => 'Kiki\'s Koi-Koi' %></span>
</section>

<section class="game-hero">
  <div class="container">
    <span><%= image_tag 'kiki-phone.png', :alt => 'Kiki\'s Koi-Koi' %></span>
    <div>
      <h2>Kiki's Koi-Koi</h2>
      <h3>Hanafuda on iOS</h3>
      <% link_to data.site.kikiAppStoreUrl, target: :_blank, :class => 'app-store-link' do %>
        <%= image_tag 'appstore.svg', :alt => 'App Store' %>
      <% end %>
    </div>
  </div>
</section>

<section class="container home-form">
  <h1><a name="contact">Get in touch</a></h1>
  <form data-behavior="contact-form">
    <input type="hidden" name="ticket[source]" value="how_seven_site" />

    <fieldset>
      <label for="ticket_inquiry_type">
        What is this about?
        <span class="custom-dropdown custom-dropdown--white">
          <select id="ticket_inquiry_type" name="ticket[inquiry_type]" class="custom-dropdown__select custom-dropdown__select--white">
            <option value="general">General Inquiry</option>
            <option value="bug">Bug Report</option>
          </select>
        </span>
      </label>
    </fieldset>

    <fieldset>
      <label for="ticket_app">
        Which app?
        <span class="custom-dropdown custom-dropdown--white">
          <select id="ticket_app" name="ticket[app]" class="custom-dropdown__select custom-dropdown__select--white">
            <option value="">No app in particular</option>
            <option value="kiki">Kiki's Koi-Koi</option>
            <option value="bingo">The Bingo Spot</option>
          </select>
        </span>
      </label>
    </fieldset>

    <fieldset>
      <label for="ticket_name">Your Name</label>
      <input id="ticket_name" name="ticket[name]" type="text" required />
    </fieldset>

    <fieldset>
      <label for="ticket_email">Your Email <span class="explanation">(so we can respond)</span></label>
      <input id="ticket_email" name="ticket[email]" type="email" required />
    </fieldset>

    <fieldset>
      <label for="ticket_subject">Subject</label>
      <input id="ticket_subject" name="ticket[subject]" type="text" />
    </fieldset>

    <fieldset>
      <label for="ticket_message">Message</label>
      <textarea id="ticket_message" name="ticket[message]" required></textarea>
    </fieldset>
    
    <p class="fine-details">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>

    <input type="submit" value="Submit" />
  </form>
  <div class="form-success">
    Thanks! We'll get back to you as soon as we can.
  </div>
</section>
